@import url('./reset.css');
@import url('./variables.css');
@import url('./fonts.css');


html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


body {
    min-height: 100vh;
    max-width: 100vw;
    background-color: #0d0d0d;
    color: #FF7000;
    font-family: EuroStile;
    text-transform: uppercase;
    font-weight: 300;
}

body::after {
    content: "";
    background: url(../static/images/elitist-background.jpg);
    opacity: 0.05;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    margin: 0;
}

/* =======================
  Application Menu
  ======================= */
  nav.app-menu {
    background: #00000025;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* user-select: none; */
    /* -webkit-user-select: none; */
    -webkit-app-region: drag;
    text-transform: uppercase;
    /* background-color: #ffffff; */
}

nav .app-title {
    font-family: EuroStile;
    font-size: 14px;
    line-height: 1.6;
    padding: 0 20px;
    padding-top: 4px;
    color: #ff7000;
    text-shadow: 0px 0px 3px #00000050;
}

nav .app-title span {
    /* padding: 0 5px; */
    color: #555555;
}

nav .app-controls {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

nav .app-controls button {
    -webkit-app-region: no-drag;
    width: 40px;
    font-size: 14px;
    border: 0;
    color: #aaaaaa;
    background: #00000000;
}

nav .app-controls button:hover {
    color: #ffffff;
    background: #00000075;
}

nav .app-controls button.app-close:hover {
    color: #ffffff;
    background: #ab1313;
}

nav .app-controls button:focus {
    outline: none;
}

/* =======================
  Main
  ======================= */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100dvh;
    max-width: 100vw;
    font-size: 14px;
    padding-top:24px;
}
main > * {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top:1px;
}
main div {
    display: flex;
}
/* =======================
  Main: Initial
  ======================= */
main .init {
    align-items: center;
    justify-content: flex-start;
    height: 50vh;
    width: 50%;
    margin-top: 25%;
    padding: 5px;
}
main .init div {
    width: 100%;
}
main .init .title {
    flex-direction: row;
    margin-bottom: 10px;
    width: 100%;
}
main .init .title .icon {
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border: 1px solid #FF7000AA;
    box-shadow: inset 0 0 5px #FF0000;
}
main .init .title .icon i {
    font-size: 40px;
    font-weight: 300;
    text-shadow: 0px 0px 10px #FFFFFF;
    color: #FFFFFF;
}
main .init .title .text {
    flex-direction: column;
    flex-grow: 1;
    margin-left: 10px
}
main .init .title .text .h1 {
    font-size: 24px;
    color: #FFFFFF;
    border-bottom: 1px solid #FF7000;
    padding-top: 6px;
}
main .init .title .text .h4 {
    font-size: 14px;
    color: #FF700080;
    padding-top: 5px;
}
main .init .message {
    font-size: 11px;
    color: #FF7000DD;
    font-style: italic;
    padding-bottom: 4px;
}
main .init .log {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    flex-grow: 1;
    border-top: 1px solid #FF700050;
    border-bottom: 1px solid #FF700050;
    padding: 10px 0;
    overflow-y: scroll;
}
main .init .log .entry {
    flex-direction: row;
    margin-top: 1px;
    font-size: 12px;
}
main .init .log .entry:first-of-type {
    margin-top: 0;
}
main .init .log .entry i {
    margin-right: 5px;
    font-weight: 300;
}
main .init .log .entry span {
    padding-top: 4px;
    color: #FFFFFF;
}
main .init footer {
    padding-top: 8px;
    font-size: 12px;
}
