# Ignore node_modules directory
node_modules/

# Ignore built files for Electron
dist/
out/

# Ignore logs
*.log

# Ignore npm debug log
npm-debug.log*

# Ignore yarn debug log
yarn-debug.log*

# Ignore yarn error log
yarn-error.log

# Ignore VS Code settings
.vscode/

# Ignore macOS specific files
.DS_Store

# Ignore Windows thumbnail cache files
Thumbs.db

# Ignore Linux desktop files
*.desktop

# Ignore editor specific files
*.swp
*.swo
*.bak
*~

logs/