@import url('./reset.css');
@import url('./variables.css');
@import url('./fonts.css');


html {
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}


body {
    min-height: 100vh;
    max-width: 100vw;
    background-color: #0d0d0d;
    color: #FF7000;
    font-family: EuroStile;
    text-transform: uppercase;
    font-weight: 300;
}

body::after {
    content: "";
    background: url(../static/images/elitist-background.jpg);
    opacity: 0.05;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    margin: 0;
}

/* =======================
  Application Menu
  ======================= */
  nav.app-menu {
    background: #00000025;
    position: fixed;
    top: 0px;
    width: 100%;
    height: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* user-select: none; */
    /* -webkit-user-select: none; */
    -webkit-app-region: drag;
    text-transform: uppercase;
    /* background-color: #ffffff; */
}

nav .app-title {
    font-family: EuroStile;
    font-size: 14px;
    line-height: 1.6;
    padding: 0 20px;
    padding-top: 4px;
    color: #ff7000;
    text-shadow: 0px 0px 3px #00000050;
}

nav .app-title span {
    /* padding: 0 5px; */
    color: #555555;
}

nav .app-controls {
    display: flex;
    flex-direction: row;
    align-items: stretch;
}

nav .app-controls button {
    -webkit-app-region: no-drag;
    width: 40px;
    font-size: 14px;
    border: 0;
    color: #aaaaaa;
    background: #00000000;
}

nav .app-controls button:hover {
    color: #ffffff;
    background: #00000075;
}

nav .app-controls button.app-close:hover {
    color: #ffffff;
    background: #ab1313;
}

nav .app-controls button:focus {
    outline: none;
}

/* =======================
  Main
  ======================= */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100dvh;
    max-width: 100vw;
    font-size: 14px;
    padding-top:24px;
}
main > * {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    justify-content: center;
    margin-top:1px;
}

/* =======================
  Initializing Application
  ======================= */
main .init-application {
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    padding-top: 200px;
}

main .init-application i {
    padding-bottom: 10px;
    color: var(--elite-red);
    text-shadow: 0 0 5px var(--elite-red);
}
main .init-application div {
    display:flex;
    width: 100%;
    justify-content: center;
}
main .init-application div.message {
    font-size: 24px;
}
main .init-application div.first-use {
    font-size: 12px;
    color: #FFFFFFAA;
}
main .init-application footer .notifications {
    padding-top: 30px;
}
main .init-application footer .notification {
        animation-delay: 50ms;
        animation-duration: 3s;
        animation: 2s linear 1s fadeOut;
        animation-fill-mode:forwards;
        width: 100%;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
}
main .init-application footer .notification i {
    color: #FF7000;
}


/* =======================
  Section Headers
  ======================= */
main section header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    min-height: 50px;
    max-height: 50px;
    /* padding-top: 4px; */
    color:#FFFFFF;
    background-color: #FF700040;
}
main section header * {
    display:flex;
}
main section header .icon {
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 50px;
    border-right: 1px solid #FF7000;
}
main section header .icon i {
    font-size: 24px;
    font-weight: 300;
    color: #FF7000;
}
main section header .title {
    display: flex;
    flex-direction: column;
    flex-grow:1;
    padding: 0 10px;
}
main section header .title .h1 {
    font-size: 20px;
    padding-top: 4px;
    border-bottom: 1px solid #FF700050;
    color: #FF7000;

}
main section header .title .h4 {
    font-size: .95em;
    padding-top: 6px;
}
/* =======================
  Section Subtexts
  ======================= */
main section header .title .h4 .cargo-space.full {
    color: #FF0000;
    text-shadow: 0 0 3px #FF0000;
}


/* ======================= */
main section header .controls {
    padding: 0 20px;
    color: #FF7000;
    /* padding-top: 8px; */
}
main section header .controls span {
    padding-top: 3px;
    padding-right: 10px;
    font-size: 12px;
    color: #FF700070;
}
main section.navigation header .controls i {
    padding: 0 4px;
}


main section .content {
    display: flex;
    background-color: #FF700020;
    margin-top: 1px;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-top: 16px;
    padding-bottom: 10px;
}
main section .content:empty {
    display: none;
}

/* =======================
  System Section
  ======================= */
main .system {
    flex-grow: 1;
    height: 100vh;
    overflow: hidden;
}
main .system > * {
    display: flex;
    width: 100%;
    justify-content: center;
}
main .system .h1 span {
    /* padding-top: 4px; */
    padding-left: 10px;
}
main .system .h1 span::before {
    content: '>';
    padding-right: 10px;
}
main .system .h1 span:empty {
    display: none;
}
main .system .h4 i {
    padding: 0 4px;
    /* font-weight: 300; */
    font-size: 12px;
    text-shadow: 0 0 3px #FFFFFF;
}
main .system .h4 span {
    padding-top: 2px;
    padding-right: 4px;
}
main .system .controls {
    height: 100%;
    align-items: center;
}
main .system .content {
    padding: 0;
    align-items: flex-start;
    justify-content: flex-start;
    flex-grow: 1;
    overflow-y: auto;
    flex-direction: column;
    background-color: #FF700020;
    border-bottom: 1px solid #FF7000;
}
main .system .content:empty {
    display: flex;
    background-color: #00000020;
}
/* =======================
  System: unknown
  ======================= */
main .system .content .unknown-system {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}
main .system .content .unknown-system .h1 {
    font-size: 24px;
    color: #FF7000;
}
main .system .content .unknown-system .h4 {
    font-size: 16px;
    color: #FFFFFF;
}
/* =======================
  System: Known
  ======================= */
main .system .content .discoveries {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: #ff700050;
    border-bottom: 1px solid #000000;
}  
main .system .content .discoveries div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font-size: 12px;
    padding: 4px 0;
}
main .system .content .discoveries div i {
    font-size: 14px;
    font-weight: 300;
    padding-right: 4px;
}
main .system .content .discoveries div span {
    padding-top: 4px;
}
main .system .content .discoveries .found{
    color: var(--elite-yellow);
    text-shadow: 0 0 3px var(--elite-yellow);
}
main .system .content .discoveries .found.elw,
main .system .content .discoveries .found.bio {
    color: #029e4c;
    text-shadow: 0 0 3px #029e4c;
}
main .system .content .discoveries .found.ww {
    color: #0a8bd6;
    text-shadow: 0 0 3px #0a8bd6;
}
main .system .content .discoveries .found.aw {
    color: #7f00ff;
    text-shadow: 0 0 3px #7f00ff;
}
/* =======================
  System Bodies
  ======================= */
main .system .content .bodies {
    width: 100%;
    display: flex;
    flex-direction: column;
}
main .system .content .bodies .body {
    display:flex;
    flex-direction: row;
    align-items: center;
    border-left: 1px solid #00000080;
    border-top: 1px solid #00000080;
    width: 100%;
    color:#FF7000EE;
    text-shadow: 0 0 3px #FF7000AA;
    flex-wrap: wrap;
}
main .system .content .bodies .body:hover {
    background-color: #FF700040;


}
main .system .content .bodies .body.hide {
    display: none;
}
main .system .content .bodies .body:first-of-type {
    border-top: 0;

}
main .system .content .bodies .body:last-of-type {
    border-bottom: 1px solid #00000080;
}
main .system .content .bodies .body > * {
    display:flex;
    height: 40px;
    justify-content: center;
    align-items: center;
}
main .system .content .bodies .body.star {
    background-color: #00000025;
}
main .system .content .bodies .body.planet.danger {
    background-color: #FF000010;
    color: #FF0000;
    text-shadow: 0 0 3px #FF0000AA;
}
main .system .content .bodies .body.planet.danger .class {
    color: #FF000075;
}
main .system .content .bodies .body .icon {
    width: 60px;
    border-right: 1px solid #00000080;
}
main .system .content .bodies .body .icon i {
    font-size: 24px;
    font-weight: 300;
}
main .system .content .bodies .body.high-value .icon i {
    color: var(--elite-yellow);
    text-shadow: 0 0 5px var(--elite-yellow);
}
main .system .content .bodies .body .icon i.earthlike {
    color: var(--elite-green);
    text-shadow: 0 0 5px var(--elite-green);
}
main .system .content .bodies .body .name {
    padding-top: 5px;
    padding-left: 10px;
    justify-content: flex-start;
    flex-grow: 1;
}
main .system .content .bodies .body .class {
    padding-left: 10px;
    color: #FF700075;
    text-shadow: none;
}
main .system .content .bodies .body .attributes {
   padding-right: 10px;
}
main .system .content .bodies .body .attributes:empty {
    display: none;
}
main .system .content .bodies .body .attributes i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 40px;
    font-size: 20px;
    color: #FFFFFF;
    text-shadow: 0 0 3px #FFFFFF80;
    font-weight: 300;
}
main .system .content .bodies .body .attributes i.fuel {
    color: #FF7000;
    text-shadow: 0  0 3px #FF7000;
}
main .system .content .bodies .body .attributes i.attr-undiscovered,
main .system .content .bodies .body .attributes i.attr-unmapped {
    font-size: 14px;
    font-weight: 300;
    color: var(--elite-yellow);
    text-shadow: 0 0 3px var(--elite-yellow);
}
main .system .content .bodies .body .attributes .gravity-text {
    font-family: Telegrama;
    font-size: 11px;
    font-weight: 300;
    padding-top: 6px;
    padding-right: 4px;
    letter-spacing: .3px;
    color: #FFFFFF;
    text-shadow: 0 0 3px #FFFFFF80;
}
main .system .content .bodies .body .attributes .high-gravity {
        color: #FF0000;
        text-shadow: 0 0 5px #FF0000AA;
    }
main .system .content .bodies .body .attributes .gravity-text::after {
    content: "G";
}
main .system .content .bodies .body .attributes i.attr-bio {
    color: #029e4c;
    text-shadow: 0 0 5px #029e4c;
}
main .system .content .bodies .body .attributes i.attr-atmosphere {
    font-weight: 900;
    text-shadow: 0 0 4px 8px var(--elite-blue-light);
    border-radius:50%;
    border: 1px solid var(--elite-blue-light);
    height: 26px;
    width: 26px;
    margin-left: 4px;
}
main .system .content .bodies .body .attributes i.attr-volcanic {
    color: #FF7000;
    text-shadow: 0 0 5px #FF0000;
}
main .system .content .bodies .body .attributes i.attr-terraformable {
    font-weight: 300;
    color: var(--elite-yellow);
    text-shadow: 0 0 5px var(--elite-yellow);
}

main .system .content .bodies .body .distance {
    width: 120px;
    justify-content: flex-end;
    padding: 0 10px;
    padding-top: 5px;
    border-left: 1px solid #00000080;
    text-transform: none;
}
main .system .content .bodies .body .distance.far-away {
    color: #FF0000;
    text-shadow: 0 0 5px #FF0000AA;
}
main .system .content .bodies .body .signals {
    width: 100%;
    height: 20px;
    border-top: 1px solid #00000080;
    background-color: #00000070;
    font-size: 13px;
    display: flex;
}
main .system .content .bodies .body .signals i {
    font-size: 12px;
    font-weight: 300;
    padding-right: 4px;
}
main .system .content .bodies .body .signals span {
    padding-top: 3px;
}
main .system .content .bodies .body .signals:empty {
    display: none;
}






/* =======================
  Navigation
  ======================= */
/* main .navigation {
    flex-grow: 1;
    height: 100vh;
    overflow: hidden;
}
main .navigation > * {
    display: flex;
    width: 100%;
    justify-content: center;
}
main .navigation .controls {
    height: 100%;
    align-items: center;
    cursor: pointer;
}
main .navigation .content {
    padding: 0;
    align-items: flex-start;
    justify-content: flex-start;
    flex-grow: 1;
    overflow-y: auto;
    flex-direction: column;
    background-color: transparent;
    border-bottom: 1px solid #FF7000;
}
main .navigation .content:empty {
    display: flex;
    background-color: #00000020;
} */
/* =======================
  Waiting for stops to load
  ======================= */
/* main .navigation .content .load-stops {
    width: 100%;
    padding-top: 50px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}
main .navigation .content .load-stops i {
    padding-bottom: 10px;
    color: var(--elite-red);
    text-shadow: 0 0 5px var(--elite-red);
}
main .navigation .content .load-stops div {
    display:flex;
    width: 100%;
    justify-content: center;
}
main .navigation .content .load-stops div.message {
    font-size: 20px;
}
main .navigation .content .load-stops div.first-use {
    font-size: 12px;
    color: #FF700060;
} */



/* =======================
  Navigation Stops
  ======================= */
/* main .navigation .content .stop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    min-height: 40px;
    max-height: 40px;
    color:#FFFFFF;
    background-color: #FF700020;
    margin-top: 1px;
}
main .navigation .content .stop:first-of-type {
    margin-top: 0;
}

main .navigation .content .stop * {
    display:flex;
}
main .navigation .content .stop .seq,
main .navigation .content .stop .icon {
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 40px;
    border-right: 1px solid #000000;
}
main .navigation .content .stop .seq {
    color: #FF700080;
    padding-top: 6px;
}
main .navigation .content .stop .icon i {
    font-size: 20px;
    font-weight: 300;
    color: #FF7000;
}
main .navigation .content .stop .title {
    display: flex;
    flex-direction: column;
    flex-grow:1;
    padding: 0 10px;
    text-shadow: 0 0 3px #000000;

}
main .navigation .content .stop .title .h1 {
    font-size: 16px;
    padding-top: 4px;
    color: #FFFFFF;

}
main .navigation .content .stop .title .h4 {
    font-size: .8rem;
    padding-left: 4px;
    color: #FF7000DD;
}
main .navigation .content .stop .title .h4 span {
    padding-top: 2px;
    padding-right: 8px;
}
main .navigation .content .stop .title .h4 i {
    padding-top: 1px;
    padding-right: 2px;
    font-size: 10px;
    text-shadow: 0 0 1px #FF7000;
}
main .navigation .content .stop .attributes {
    padding-right: 10px;
    text-shadow: 0 0 3px #FFFFFF80;
 }
 main .navigation .content .stop .attributes:empty {
     display: none;
 }
 main .navigation .content .stop .attributes i {
     display: flex;
     justify-content: center;
     align-items: center;
     font-weight: 300;
     padding: 0 4px;
 }
i[data-attribute="fuel"] {
    color: #FF7000;
    text-shadow: 0 0 3px #FF7000;
}
.current i[data-attribute="fuel"] {
    color: #00b3f7;
    text-shadow: 0 0 3px #00b3f7;
}
i[data-attribute="scan"] {
    color: #FFFFFF;
    text-shadow: 0 0 3px #FFFFFF;
}
i[data-attribute="discovery"] {
    font-size: 12px;
}

main .navigation .content .stop .system-distance {
    width: 120px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 10px;
    padding-top: 6px;
    border-left: 1px solid #000000;
    color: #FF7000BB;
    text-shadow: 0 0 2px #FF7000;
    text-transform: none;
    text-align: right;
}
main .navigation .content .stop .current-system:empty {
    display: none;
} */

/* =======================
  Navigation Stop: Current
  ======================= */
/* main .navigation .content .stop.current {
    background-color: #0a8bd660;
}
main .navigation .content .stop.current .title .h1 {
    text-shadow: 0 0 3px #FFFFFF;
}
main .navigation .content .stop.current .seq,
main .navigation .content .stop.current .icon i,
main .navigation .content .stop.current .title .h4,
main .navigation .content .stop.current .controls i {
    color: #00b3f7;
    text-shadow: 0 0 2px #00b3f7;
}
main .navigation .content .stop.current .title .h4 i {
    text-shadow: 0 0 2px #00b3f7;
}
main .navigation .content .stop.current .system-distance {
    color: #00b3f7BB;
    text-shadow: 0 0 2px #00b3f7;
} */
/* =======================
  Navigation Stop: Previous
  ======================= */
/* main .navigation .content .stop.previous {
    opacity: .6;
    background-color: #FF000020;
}

main .navigation .content .stop.previous .seq,
main .navigation .content .stop.previous .icon i,
main .navigation .content .stop.previous .title .h1,
main .navigation .content .stop.previous .system-distance,
main .navigation .content .stop.previous .attributes i {
    color: #FFFFFF50;
    text-shadow: 0 0 1px #FFFFFF50;
}
main .navigation .content .stop.previous .title .h4 {
    color: #FFFFFF50;
}
main .navigation .content .stop.previous .title .h4 i,
main .navigation .content .stop.previous .attributes i {
    text-shadow: 0 0 1px #FFFFFF50;
} */
/* =======================
  Navigation Stops
  ======================= */
/* main .navigation .content .current-system {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: #0a8bd630;
    color: var(--elite-blue-light);
    margin: 1px 0;
}
main .navigation .content .current-system .discovery {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: #00b3f750;
}
main .navigation .content .current-system .discovery div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    font-size: 12px;
    padding: 4px 0;
}
main .navigation .content .current-system .discovery div i {
    font-size: 14px;
    font-weight: 300;
    padding-right: 4px;
}
main .navigation .content .current-system .discovery div span {
    padding-top: 4px;
}
main .navigation .content .current-system .discovery .found {
    color: var(--elite-yellow);
}
main .navigation .content .current-system .discovery .elw.found,
main .navigation .content .current-system .discovery .bio.found {
    color: #029e4c;
    text-shadow: 0 0 3px #029e4c;
}
main .navigation .content .current-system .discovery .aw.found,
main .navigation .content .current-system i.ammonia-world {
    color: #7f00ff;
    text-shadow: 0 0 3px #7f00ff;
}
main .navigation .content .current-system .bodies {
    border-top: 1px solid #00000080;
    padding-left: 120px;
}
main .navigation .content .current-system .bodies .body {
    display:flex;
    flex-direction: row;
    align-items: center;
    border-left: 1px solid #00000080;
    border-top: 1px solid #00000080;
    width: 100%;
    color:#0a8bd6;
    text-shadow: 0 0 3px #0a8bd6;
    flex-wrap: wrap;
}
main .navigation .content .current-system .bodies .body:first-of-type {
    border-top: 0;

}
main .navigation .content .current-system .bodies .body > * {
    display:flex;
    height: 30px;
    justify-content: center;
    align-items: center;
}
main .navigation .content .current-system .bodies .body.star {
    background-color: #00000025;
}
main .navigation .content .current-system .bodies .body .icon {
    width: 30px;
    border-right: 1px solid #00000080;
}
main .navigation .content .current-system .bodies .body .icon i {
    font-size: 18px;
    font-weight: 300;
}
main .navigation .content .current-system .bodies .body .icon i.earthlike {
    color: var(--elite-green);
    text-shadow: 0 0 3px var(--elite-green);
}
main .navigation .content .current-system .bodies .body .name {
    padding-top: 5px;
    padding-left: 10px;
    justify-content: flex-start;
    flex-grow: 1;
}
main .navigation .content .current-system .bodies .body .class {
    padding-left: 10px;
    color: #0a8bd675;
    text-shadow: none;
}
main .navigation .content .current-system .bodies .body .attributes {
   padding-right: 10px;
}
main .navigation .content .current-system .bodies .body .attributes:empty {
    display: none;
}
main .navigation .content .current-system .bodies .body .attributes i {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 30px;
    font-size: 20px;
    color: #FFFFFF;
    text-shadow: 0 0 3px #FFFFFF80;
}

main .navigation .content .current-system .bodies .body .attributes i.discovery {
    font-size: 14px;
    font-weight: 300;
    color: var(--elite-yellow);
    text-shadow: 0 0 3px var(--elite-yellow);
}
main .navigation .content .current-system .bodies .body .attributes .gravity-text {
    font-family: Telegrama;
    font-size: 11px;
    font-weight: 300;
    padding-top: 6px;
    padding-right: 4px;
    letter-spacing: .3px;
    color: #FFFFFF;
    text-shadow: 0 0 3px #FFFFFF80;
}
main .navigation .content .current-system .bodies .body .attributes .high-gravity {
        color: #FF0000AA;
        text-shadow: 0 0 5px #FF0000AA;
    }
main .navigation .content .current-system .bodies .body .attributes .gravity-text::after {
    content: "G";
}
main .navigation .content .current-system .bodies .body .attributes i.bio {
    color: #029e4c;
    text-shadow: 0 0 5px #029e4c;
}

main .navigation .content .current-system .bodies .body .distance {
    width: 120px;
    justify-content: flex-end;
    padding: 0 10px;
    padding-top: 5px;
    border-left: 1px solid #00000080;
    text-transform: none;
}
main .navigation .content .current-system .bodies .body .distance.far-away {
    color: #FF0000AA;
    text-shadow: 0 0 5px #FF0000AA;
}
main .navigation .content .current-system .bodies .body .signals {
    width: 100%;
    height: 20px;
    border-top: 1px solid #00000080;
    background-color: #00000070;
    font-size: 13px;
    display: flex;
}
main .navigation .content .current-system .bodies .body .signals span {
    padding-top: 5px;
}
main .navigation .content .current-system .bodies .body .signals span.genus {
    padding-left: 4px;
    color: #0a8bd675;
    text-shadow: none;
}
main .navigation .content .current-system .bodies .body .signals i {
    font-size: 12px;
    font-weight: 300;
    padding-right: 4px;
}
main .navigation .content .current-system .bodies .body .signals:empty {
    display: none;
}
main .navigation .content .current-system .bodies .body .signals > div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

main .navigation .content .current-system .bodies .body.landed .icon {
    border-left: 3px solid #00b3f7;
} */


/* =======================
  Footer/ notifications
  ======================= */
main > footer {
    min-height: 40px;
    background-color: #FF700010;
    /* box-shadow: inset 0 1px 10px #FF7000; */
    box-shadow: rgba(0, 0, 0, 0.45) 0px 15px 10px -10px inset;
}
main > footer .notification {
    animation-delay: 50ms;
    animation-duration: 3s;
    animation: 2s linear 1s fadeOut;
    animation-fill-mode:forwards;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
main > footer .notification i {
    font-size: 16px;
    font-weight: 300;
    padding-right: 4px;
    text-shadow: 0 0 5px #FF7000, 0 0 1px #000000;
}
main > footer .notification.info {
    color: var(--elite-orange);
    text-shadow: 0 0 5px #FF7000;
}
/* main footer .notification.pause {
    animation: none;
} */
main > footer .notification > span {
    padding-top: 6px;
}


/* =======================
  Animations
  ======================= */
@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}